body {
  margin: 20px;
  font-family: "Roboto", sans-serif;
  position: fixed;
}

h1 {
  font-weight: 100px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 36px;
  font-weight: 700px;
  margin-left: 60px;
}

li {
  list-style: none;
  font-size: 16px;
}

.container {
  margin-top: 30px;
  max-width: 700px;
}

.card.capsule {
  margin: 0 auto;
  min-width: 540px;
  max-width: 700px;
}
