.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.Weather .form-inline {
  margin-bottom: 10px;
  position: static;
}

.Weather .btn-primary {
  margin-left: 5px;
}

.Weather .btn-success {
  margin-left: 50px;
  display: inline-block;
}

.Weather .units {
  font-size: 20px;
}

.Weather .active {
  color: black;
  cursor: default;
}

.Weather .active:hover {
  text-decoration: none;
  color: black;
}

.Weather .card-img-top {
  width: 105px;
  margin-left: 40px;
  margin-top: -28px;
}

.card-text {
  margin-left: 10px;
}

.Weather .weather-icon-future img {
  width: 40px;
  margin-left: 2px;
}

.Weather .temp-high-low-future {
  margin-left: -4px;
}
