.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .btn-primary {
  margin-left: -10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather .units {
  font-size: 20px;
  position: relative;
  top: -14px;
}

.Weather .active {
  color: black;
  cursor: default;
}

.Weather .active:hover {
  text-decoration: none;
  color: black;
}

.Weather .card-text {
  margin-top: 20px;
  margin-left: 50px;
}
